#dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    color:aqua;
    height:120px;
    width:1040px;
    right: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
#dropdown:hover #dropdown-content {
    display: block;
}
